
*{box-sizing:border-box;}
/* 웹글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
/* local or web(@impotr) 글꼴 형태 유지
/* 로컬글꼴 font-face */
/* font-face로 연결하려는 로컬글꼴의 글꼴명, 글꼴의 경로를 먼저 작성해야한다! */
@font-face {
    font-family: '노토산스_기본'; /* 글꼴명 지정 */
    src:url(/font/NotoSansKR_Regular.ttf); /* 글꼴경로 지정 */
}
html, body
h1,h2,h3,h4,h5,h6,p,blockquote,address,dl,dt,dd,ul,ol,li,
span,strong,em,q,sub,sup,del,s,a,img,
div,header,nav,aside,main,footer,article,figure,figcaption,section,video,
table,thead,tbody,tfoot,tr,th,td,
form,fieldset,legend,input,select,option,button,label,textarea {
    font-family: 'Noto Sans KR', sans-serif;
    margin:0; padding: 0; line-height: 1.0; 
    font-size: 16px; font-weight: normal; font-style:normal;
    text-decoration: none;
}
th {text-align:left;}
ul,ol,li{list-style: none;}
table, tr, th, td {border-collapse:collapse;}
input {border:0; outline:none; }
a {color:#000;}
